* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Lakes;
    src: url(/fonts/TTLakes-Regular.woff);
}

@font-face {
    font-family: LakesBold;
    src: url(/fonts/TTLakes-Bold.woff);
}

.container {
    width: 320px;
    display: flex;
    margin: 30px;
    flex-direction: column;
    background-color: #F8F8F8;
    font-family: Lakes;

}

.navigation {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    padding: 20px 20px 0px;
}

.first_header {
    margin-bottom: 20px;
    font-family: LakesBold;
    border-left: 4px solid #41F6D7;
    padding-left: 15px;
}

.categories {
    list-style-type: none;
    display: flex;
    gap: 20px;
    overflow: auto;
    padding-left: 20px;
    margin-bottom: 20px;
}

.list {
    padding: 10px 15px 10px;
    white-space: nowrap;
    font-size: 14px;
    color: #7E7E82;
}

.list:hover {
    border: 3px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.description {
    padding: 0px 20px 0px;
    margin-bottom: 20px
}

.containermini2 {
    display: flex;
    padding: 0px 20px 0px;
    gap: 10px;
    margin-bottom: 20px;
}

.expand {
    order: -1;
}

@media (min-width: 768px) {
    
}