* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Lakes;
    src: url(/fonts/TTLakes-Regular.woff);
}

@font-face {
    font-family: LakesBold;
    src: url(/fonts/TTLakes-Bold.woff);
}

.container {
    width: 320px;
    display: flex;
    margin: 30px;
    flex-direction: column;
    background-color: #F8F8F8;
    font-family: Lakes;

}

.navigation {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    padding: 20px 20px 0px;
}

.first-header {
    margin-bottom: 20px;
    font-family: LakesBold;
    border-left: 4px solid #41F6D7;
    padding-left: 15px;
}

.read-more-header {
    font-size: 16px;
}

.categories {
    list-style-type: none;
    display: flex;
    gap: 20px;
    overflow: auto;
    padding-left: 20px;
    margin-bottom: 20px;
}

.list {
    padding: 10px 15px 10px;
    white-space: nowrap;
    font-size: 14px;
    color: #7E7E82;
    cursor: pointer;
}

.list:hover {
    border: 3px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.description-part-one, .description-part-two {
    margin-bottom: 10px;
    font-size: 14px;
}

.container-mini-two {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.container-mini-one {
    padding: 0px 20px 0px;
}

.expand {
    order: -1;
}

.portrait, .portrait-phone-space, .description-part-two {
    display: none;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }

    .portrait, .portrait-phone-space, .description-part-two {
        display: flex;
    }

    .portrait-phone-space {
        margin-left: 35vh;
    }

    .container-two {
        display: flex;
        padding: 15px 30px 15px;
        gap: 20px;
    }

    .container-mini-one {
        padding: 0px;
    }
}