* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Lakes;
    src: url(/fonts/TTLakes-Regular.woff);
}

@font-face {
    font-family: LakesBold;
    src: url(/fonts/TTLakes-Bold.woff);
}

.container {
    width: 320px;
    display: flex;
    
    flex-direction: column;
    background-color: #F8F8F8;
    font-family: Lakes;

}

.menu {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    padding: 20px 20px 0px;
}

.option__name {
    margin-bottom: 20px;
    font-family: LakesBold;
    border-left: 4px solid #41F6D7;
    padding-left: 15px;
}

.box__button {
    font-size: 16px;
}

.option__categories {
    list-style-type: none;
    display: flex;
    overflow: auto;
    padding-left: 20px;
    margin-bottom: 20px;
}

.option__list {
    padding: 10px 15px 10px;
    white-space: nowrap;
    font-size: 16px;
    color: #7E7E82;
    cursor: pointer;
}

.option__list:hover {
    border: 3px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.box__description {
    margin-bottom: 10px;
    font-size: 14px;
}

.box__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.box {
    padding: 0px 20px 0px;
}

.box__icon {
    order: -1;
}

.menu__icon--portrait-visibility, .box__text, .box__text-two, .menu__button {
    display: none;
} 

.example__cont {
        display: none;
    }

@media (min-width: 768px) {
    .container {
        width: 768px;
    }

    .menu__icon--portrait-visibility, .box__text  {
        display: flex;
    }

    .menu__icon--space {
        margin-left: 30vh;
    }

    .info {
        display: flex;
        padding: 15px 30px 15px;
        gap: 20px;
    }

    .box {
        padding: 0px;
    }

    .example__cont {
        display: none;
    }
}

@media (min-width: 1120px) {

    .container {
        width: 1120px;
        height: 535px;
        display: flex;
    }
 
    .menu__icon--portrait-visibility, .menu__icon--desktop-visibility {
        display: none;
    }

    .menu, .menu__button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 0px;
    }

    .box__text-two {
        display: contents;
    }

    .option__categories {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .box__image {
        width: 531px;
        height: 300px;
    }

    header {
        display: none;
    }

    .example {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        align-items: center;
        
    }

    .example__cont {
        display: flex;
        gap: 15px;
        padding-right: 20px;
    }

}